<%-
  include('./_variables')
%><meta charset="UTF-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="<% if (meta.description.length) {%> <%= meta.description %><% } else { %><%= head.description %><% } %>">
<meta name="robots" content="index,follow,noodp">
<meta name="googlebot" content="index,follow">

<title><%= meta.title %><% if (meta.title.length) {%> | <% } %><%= head.title %></title>

<link rel="stylesheet" href="<%= baseDir.css %>/cursorMove.css?<%= Date %>">
